{% extends 'base/base.html' %}

{% block title %}
Movie time
{% endblock title %}

{% block body %}

<div class="row justify-content-center">
    <div class="col-lg-10">
        <p class="display-3">Successfully Did that</p>
    </div>
</div>
<div class="row justify-content-center">
    {% for result in results %}
    
    <div class="col-lg-2">
        <div class="card">
            <a href="{% url 'movieDetails' result.id %}"><img src="{{result.image}}" alt="picture" class="card-img-top"></a>
            <div class="card-body">
                <h5 class="card-title">{{result.title}}</h5>
                <p class="card-text">{{result.description}}</p>
            </div>
        </div>
    </div>



    {% endfor %}

</div>

{% endblock body %}