{% extends 'base/base.html' %}
{% load crispy_forms_tags %}


{% block title %}
Movie time
{% endblock title %}

{% block body %}
<div class="row justify-content-center">
    <div class="col-lg-10">
        <div class="card shadow-lg border border-danger border-1 rounded mt-3 bottom-element px-4 py-3">
            <div class="card-body">
                <h1 class="text-center">Create A List</h1>
                <form action="" method="post" class="d-flex justify-content-between">
                    {% csrf_token %}
                    {{form|crispy}}
                    <button type='submit' class='btn btn-danger'>Create List</button>
                </form>
                
                <!--
                    
                    Uses search function from movie.urls
                    
                -->
                {% comment %} 
                add form with current list names and submit with redirect called choose current lists
                {% endcomment %}
            </div>
        </div>
    </div>
</div>
{% endblock body %}