{% extends 'base/base.html' %}
{% load crispy_forms_tags %}


{% block title %}
Movie time
{% endblock title %}

{% block body %}

<div class="row justify-content-center">
    <div class="col-lg-10">
        <p class="display-3">Add List Title</p>
        <p></p>

        <!--
            
            Uses search function from movie.urls
            
         -->
        <form action="" method="post">
            {% csrf_token %}
            {{form|crispy}}
            <button type='submit' class='btn btn-success'>Make List Name</button>
        </form>
        {% comment %} 
        add form with current list names and submit with redirect called choose current lists
        {% endcomment %}
{% endblock body %}