{% extends 'base/base.html' %}

{% block title %}
Movie time
{% endblock title %}

{% block body %}
<!-- 

    Row with 3 Buttons That Have Functionality as follows
    Search for movies: form submit movie/search function. Redirects to index2.html
    Edit profile: url accounts/edit_profile, redirects to functional edit_profile.html
    Logout: url accounts/logout, redirects to index4.html (login or signup page)

 -->

<div class="row justify-content-center">
    <div class="col-lg-10">
        <div class="card text-center shadow border border-danger border-1 rounded my-3">
            <div class="card-header"><strong>Choose List and Search for Movies</strong></div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">
                        <form action="{% url 'results' %}" method="post">
                            {% csrf_token %}
                        <div class="row">
                            
                            <div class="col-lg-6">
                                <div class="form-group">
                                <label for="exampleFormControlSelect1" class="mb-1">List Name</label>
                                <select class="form-control  border border-2 border-dark" name='list_name' id="exampleFormControlSelect1">
                                {% if list_name %}
                                
                                <option>{{list_name}}</option>
                                    {% for list in lists %}
                                        {% if list.name != list_name %}
                                            <option>{{list.name}}</option>
                                        {% endif %}
                                        {% endfor %}
                                {% else %}
                                    {% for list in lists %}
                                    <option>{{list.name}}</option>
                                    {% endfor %}
                                {% endif %}
                                </select>
                            </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="search_term" class=" mb-1">Search for Movies to Add</label> <!-- to {{ form.data.name }} -->
                                    <input type="text" class='form-control border border-2 border-dark' id='search_term' name='search_term' value="{{search_term}}" placeholder='e.g  "Batman" , "Inception" '>
                                </div>
                                
                            </div>
                        </div>        
                        
                            
                            
                                    
                                    
                                

                                
                            
                        
                    </div>
                    <div class="col-lg-12">
                            <button class="btn btn-danger mt-2" type='submit'>Click me Search For Movies</button> 
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% if results %}
    <form action="{% url 'addMoviesToList' %}" method="POST" name="moviesToAdd" id="moviesToAdd">
        {% csrf_token %}
        <input type="text" name="search_term" value="{{search_term}}" class="disabled invisible" id="">
        <input type="text" name="list_name" value="{{list_name}}" class="disabled invisible" id="">
<div class="row justify-content-center">


{% for result in results %}

<div class="col-lg-3 p-0 mx-2 my-4 bg-white border border-1 border-danger">
    <div class="card p-0 m-0">
        <a href="{% url 'movieDetails' result.id %}"><img src="{{result.image}}" alt="picture" class="card-img-top"></a>
        <div class="card-body">
            <h5 class="card-title"><strong>{{result.title}}</strong></h5>
            <p class="card-text lead">{{result.description}}</p>
            <p><small>{{result.year}}</small></p>
            <input class="form-check-input" type="checkbox" value="{{result.id}}" name="movies" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                Add To List
            </label>
            {% comment %} <a href="{% url 'addMovieToWatched' result.id %}">Click Me to Add</a> {% endcomment %}
        </div>
    </div>
</div>

{% endfor %}

</div class="text-center">
    <button class="btn btn-danger btn-lg bottom-element mt-3 " type="submit">Add Movies Selected Movies to {{list_name}}</button>
</form>
    {% endif %}



{% endblock body %}