{% extends 'base/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Movie time
{% endblock title %}

{% block body %}

<div class="row justify-content-center">
    <div class="col-6">
        <div class="card border border-2 border-danger">
            <div class="card-body">
                <h1 >Edit Profile {{profile.username}}</h1>
                <form action="{% url 'edit_profile' %}" method="post" novalidate>
                    {% csrf_token %}
                    <label for="username">Username</label>
                    <input type="text" class="form-control" name='username' value='{{profile.user.username}}{{profile.username}}'>
                    <label for="first_name">First Name</label>
                    <input type="text" class="form-control" name='first_name' value='{{profile.first_name}}'>
                    <label for="last_name">Last Name</label>
                    <input type="text" class="form-control" name='last_name' value='{{profile.last_name}}'>



                    
                    <div class="row justify-content-center my-2">
                        <div class="col-lg-6 text-center">
                            <button class="btn btn-danger btn-lg" type="submit"><i class="fas fa-sign-in-alt"></i> Edit Profile</button>
                        </div>
                        <div class="col-lg-6 text-center">
                            <a href="{% url 'search' %}" class="btn btn-secondary text-black btn-lg"><i class="fas fa-plus"></i> Go Back to Home</a>
                        </div>
                    </div>
                    

                </form>


            </div>
        </div>
    </div>
</div>


{% endblock body %}